@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>CL3_DSW_JOSUE_CHUPICA</h2>
    <p style="text-align:justify">
        Implementar una aplicación web que permita realizar el mantenimiento de la información sobre su base de
        datos “NEGOCIOS2020” usando la tecnologia Web-API
    </p>
</div>
<br />
    <strong><h3 style="text-align:center">T-ÚTILES</h3></strong>
    <strong><h5 style="text-align:center">DONDE SOLO ENCONTRARAS COSAS DE CALIDAD</h5></strong>
    <center><img src="~/Content/Imagenes/utilesBanner.jpg" width="650" height="200"/></center>
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <h4>1. Listado de clientes</h4>
        <center><img src="~/Content/Imagenes/listaIcon.png" width="90" height="120" /></center>
    </div>
    <div class="col-md-3">
        <h4>2. Registro del nuevo cliente</h4>
        <center><img src="~/Content/Imagenes/registrarIcon.png" width="90" height="120"/></center>
    </div>
    <div class="col-md-3">
        <h4>3. Actualizacion de datos del cliente</h4>
        <center><img src="~/Content/Imagenes/actualizarIcon.png" width="120" height="120"/></center>
    </div>
    <div class="col-md-3">
        <h4>4. Eliminar un determinado cliente</h4>
        <center><img src="~/Content/Imagenes/eliminarIcon.jpg" width="90" height="120"/></center>
    </div>
</div>